################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AMIS/v14/suo
/CAMIS/bin/*.*
